/.venv/*
/.venv_windows/*
/build/*
/src/reach.egg-info

.venv_ubuntu/
.ipynb_checkpoints/
.pytest_cache/
.vscode/
/random/*

# file types
*.pyc
*.db
__pycache__

# Specific files
TODO.md
.env
.editorconfig
Dockerfile